.quote {
  position: relative;
  display: inline;
}

blockquote {
  font-family: "Ramona-Light", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin: 25px auto;
  padding: 20px;
  max-width: 600px;
  background: rgb(120, 140, 242);
  background: linear-gradient(
    133deg,
    rgba(120, 140, 242, 1) 0%,
    rgba(223, 143, 159, 1) 100%
  );
  border-radius: 15px;
}

footer {
  font-family: "Ramona-Bold", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

cite {
  font-style: italic;
  color: #0d0d0d;
}
